#heading {
  background-color: #04AA6D;
  color: white;
  font-size: 54px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.message{
  font-family: monospace;
  color: blueviolet;
  text-decoration: underline;
}

.error{
  color: red;
}

p{
 color: yellow;
 background-color: black; 
}

.body{
  background-image: url("./images/shinchu.jpg");
  background-repeat :repeat-y
}