#heading {
  background-color: #04AA6D;
  color: white;
  font-size: 54px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.message{
  font-family: monospace;
  color: blueviolet;
  text-decoration: underline;
  text-transform: lowercase;
  text-align: left;
  text-indent: 100px;
  letter-spacing: 10px;
}

.error{
  color: red;
}

p{
 color: yellow;
 background-color: black; 
 line-height: 3;
 word-spacing: 10px;
}

.body{
  /* background-image: url("./images/shinchu.jpg");
  background-repeat :repeat-y */
}

.shadow{
  text-shadow: 2px 5px 4px red;
}

.layout-one{
  height: 50px;
  border: 2px solid #880e4f;
}

.layout-two{
  border: 2px solid green;
  height: 90vh;
}

.viewport{
  width: 500px;
  height: 100px;
  border: 2px solid;
}

.percent{
  width: 500px;
  height: 100px;
  border: 2px solid;
}

.red-box{
  width: 100vh;
    height: 50px;
    background-color: red;
}

.blue-box{
  width: 100%;
  height: 50px;
  background-color: blue;
}