#heading {
  background-color: #04AA6D;
  color: white;
  font-size: 54px;
  font-family: 'Dancing Script', cursive;
}

.message{
  font-family: monospace;
  color: blueviolet;
  text-decoration: underline;
  text-transform: lowercase;
  text-align: left;
  text-indent: 100px;
  letter-spacing: 10px;
  font-family: 'Sacramento', cursive;
}

.error{
  color: red;
}

p{
 color: yellow;
 background-color: black; 
 line-height: 3;
 word-spacing: 10px;
}

.body{
  /* background-image: url("./images/shinchu.jpg");
  background-repeat :repeat-y */
}

.shadow{
  text-shadow: 2px 5px 4px red;
}

.layout-one{
  height: 50px;
  border: 2px solid #880e4f;
}

.layout-two{
  border: 2px solid green;
  height: 40vh;
}

.viewport{
  width: 500px;
  height: 100px;
  border: 2px solid;
}

.percent{
  width: 500px;
  height: 100px;
  border: 2px solid;
}

.red-box{
  width: 100vw;
    height: 50px;
    background-color: red;
}

.blue-box{
  width: 100%;
  height: 50px;
  background-color: blue;
}

table{
  width: 50%;
  border-collapse: collapse;
}

td{
  height: 60px;
  text-align: left;
  vertical-align: bottom;
  padding-left: 15px;
}

th{
  height: 40px;
  text-align: left;
  padding-left: 15px;
  background-color: blue;
  color: white;
  border: 2px solid blue;
}
table, td, th{
  border: 2px solid;
  /* border-bottom: 2px solid rgb(158, 158, 158); */
}

.flex-container{
  height: 250px;
  border: 5px solid red;
  display: flex;
  flex-direction: row;
}

.flex-item{
  height: 75px;
  width: 75px;
  border: 2px solid blue;
}