body{
  margin: 0px;
}

.main-body{
  border: 2px solid;
    height: 98vh;
    display: flex;
    flex-direction: column;
}

.main-header{
  border: 2px solid red;
    height: 65px;
    display: flex;
    flex-direction: row;
}

.main-wrapper{
  border: 2px solid #6012d5;
  height: 90%;
  display: flex;
  flex-direction: row;
}

.sidebar{
  width: 20%;
    border: 2px solid;
    overflow: auto;
}

.content{
  width: 80%;
    border: 2px solid;
    display: flex;
    flex-direction: column;
}

.list{
  border: 2px solid green;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header-row-1{
  width: 20%;
    border: 2px solid violet;
}

.header-row-2{
  border: 2px solid;
    width: 65%;
}

.header-row-3{
  border: 2px solid #4a148c;
  width: 15%;
}

.vidoe-gener{
  border: 2px solid red;
  height: 50px;
  display: flex;
  flex-direction: row;
  overflow: auto;
  align-items: center;
}

.video-list{
  border: 2px solid red;
    height: 92%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.video-type{
  white-space: nowrap;
    border: 2px solid blue;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.video{
  border: 2px solid;
    width: 260px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.vidoe-img{
  border: 2px solid blue;
    height: 60%;
}

.video-desc{
  border: 2px solid blue;
    height: 40%;
    display: flex;
    flex-direction: row;
}

.author-img{
  border: 2px solid;
  width: 20%;
}

.video-info{
  border: 2px solid;
  width: 70%;
}

.video-title{
  border: 2px solid red;
    height: 42%;
}

.author-name{
  border: 2px solid red;
    height: 25%;
}

.views-count{
  border: 2px solid red;
    height: 25%;
}

.video-option{
  border: 2px solid;
  width: 10%;
}